
<h1>Welcome to the free Rock Route Repository!</h1>

{{#if this.user}}
	<p>Logged in as: {{this.user}}</p>	
{{else}}
	<p>Log In or Sign Up <a href="/login">Here</a></p>
{{/if}}

<ul>
	<li><a href="/profile">Manage user account</a></li>
	<li><a href="/browse_states">Browse/Add States</a></li>
	<li><a href="/browse_areas">Browse/Add Areas</a></li>
	<li><a href="/browse_routes">Browse/Add Routes</a></li>

</ul>
