
<h1>Welcome to the free Rock Route Repository!</h1>

{{#if this.user}}
	<p>Logged in as: {{this.user}}</p>	
{{else}}
	<p>Log In or Sign Up <a href="/login">Here</a></p>
{{/if}}

<p>Use the links below to update your user account, or browse lists of states, climbing areas, and climbing routes
stored in the repository.<br><br>

If you start on the states page, you can click a state to see a list of only climbing areas in that state.
You will also only be able to add climbing areas for the state you clicked from. You can see which
state the routes list page is set to at the top of the page. Should you want to see all climbing areas,
regardless of state, simply click the below link to browse areas.<br><br>

Simarly, you can filter the route list to show routes only for a particular climbing area by clicking on the area
in the area list.</p>

<ul>
	{{#if this.user}}
		<li><a href="/profile">Manage user account</a></li>
	{{else}}
		<li>Please <a href="/login">login</a> to edit your account</li>
	{{/if}}
	<li><a href="/browse_states">Browse/Add States</a></li>
	<li><a href="/browse_areas">Browse/Add Areas</a></li>
	<li><a href="/browse_routes">Browse/Add Routes</a></li>

</ul>
