<h1><a href='/'>Home</a></h1>

<h3>Not yet registered? Sign up here.</h3>
<fieldset>
    <form>
        First Name: <br>
        <input type="text" id="logInFirstName" name="first_name"><br>
        Last Name: <br>
        <input type="text" id="logInLastName" name="last_name"><br>
        User Name: <br>
        <input type="text" id="logInUserName" name="username"><br>
        Password:<br>
        <input type="password" id="logInPassword" name="password"><br>
        Where do you climb? (Optional)<br>
    <select name="state" id="state">
        <option value="" selected="selected">Select a State</option>
	{{#each results}}
		<option value={{this.state_id}}>{{this.state}}</option>
	{{/each}}
    </select> <br>

    <input type="submit" id="signUpButton" name="buttonFunc" value="SignUp">
    </form>
</fieldset>

<fieldset>
    Already have an account? Log In here:
    <form>
        Username:<br>
        <input type="text" name="username"><br>
        Password:<br>
        <input type="password" name="password"><br>
        <input type="submit" name="buttonFunc" value="Login"><br>
    </form>
</fieldset>
