<h1><a href='/'>Home</a></h1>

<h3>Welcome **Username from DB**{{this.username}}</h3>

<form>
	<fieldset>
	<legend>Update profile information</legend>
		<input type="text" id="first_name" name="first_name" value="**User First Name**" required><br>
		<input type="text" id="last_name" name="last_name" value="**User Last Name**" required><br>
		<input type="text" id="state" name="state" value="**User State (optional)**"><br>
		<button onclick="updateUser()">Update user profile</button><br>
		<button onclick="deleteUser()">Delete user profile</button><br>
	</fieldset>
</form>

<br>
<h3>Your Route Ratings:</h3>

<table id="ratingTable">
	<tr>
		<th>Route Name</th>
		<th>Rating</th>
	</tr>
	<tr>
		<td>**Route Name**</td>
		<td><input type="number" min=0 max=5 value=3></td>
		<td><button onclick="updateRating()">Update Rating</button></td>
		<td><button onclick="deleteRating()">Delete Rating</button></td>
	</tr>
<script src="/js/scripts.js"></script>
